@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: fit-content;
	margin: 0px auto;
	padding: 25px 0px;
	background: rgb(103,105,199);
	background: radial-gradient(circle, rgba(103,105,199,1) 0%, rgba(45,52,115,1) 100%);
	font-family: Arial;
	color: white;
}
#head{
	text-align: center;
	text-decoration: underline;
	color: black;
	margin-top: 50px;
}
#logoutLink{
	color: yellow;
	margin: 15px 0px 15px 800px;
}
.pageLink{
	color: yellow;
	margin: 15px 20px ;
}
.directoryLink{
	color: yellow;
	margin: 25px auto;
}
#contentLinks{
	display:inline-block;
	width: 105px;
	margin: 0px 447.5px;
	text-align: center;
}
.directoryLink{
	display:inline-block;
}
#headNav{
	text-align: center;
}.validations{
	color: yellow;
}
.formInput{
	margin: 10px;
}
#ingredient{
	display: inline-block;
	margin: 20px 379.26px;
}
#displayTable{
	display: inline-block;
	text-align: center;
	margin: 20px 0px 0px 310px;
}
.tData{
	padding: 3px 10px;
}
.tLink{
	color: yellow;
}
#formDiv{
	text-align: center;
}
.link{
	color: yellow;
}
.recByProd{
	display: inline-block;
	margin: 20px 185px 0px 0px;
	vertical-align: top;
}
.recByProd1{
	display: inline-block;
	margin: 20px 190px 0px 190px;
	vertical-align: top;
}
#done{
	margin: 30px 476.1px;
}
#recipeShowTable{
	text-align: center;	
}