@charset "UTF-8";
#wrapper{
	width: 1000px;
	height: 600px;
	margin: 0px auto;
	padding-top: 25px;
	background: rgb(77,136,72);
	background: linear-gradient(0deg, rgba(77,136,72,1) 0%, rgba(21,107,11,1) 100%);
	font-family: Arial;
}
#head{
	text-align: center;
	text-decoration: underline;
	margin-top: 50px;
}
.logoutLink{
	color: white;
	margin: 15px 0px 0px 800px;
}